<div class="header" *ngIf='!logIn'>
    <div class="container">
        <div class="header-logo pull-left half-width">
            <figure class="logo pull-left">
                <img src="assets/images/logo.png" alt="">
            </figure>
            <h3 class="pull-left">Hello, Duek Pharmacy....</h3>
            <div class="clearfix"></div>
        </div>
        <div class="header-nav pull-right half-width">
            <p-tabMenu class="head-nav pull-right" [model]="nav"></p-tabMenu>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>