/* .ui-button.btn-green {
    background: #d02139;
    border: 1px solid #d02139;
}

.error{
    color: red;
    }
    .success{
       color: green;
    }
    
    .etk-success-message {
      position: absolute;
      right: 16px;
      top: 10px;
      color:green;
    
    }
     */
