<div class="customer-email" *ngIf="showButton ==1">
    <figure class="text-center terms-logo">
        <img src="assets/images/Logo.png" alt="">
    </figure>
    <div class="member-email">
        <h1 class="text-center mails-logo"> Authorised Successfully! </h1>
        <p class="text-center"> Now your prescription are delivered to your door steps </p>
    </div>
</div>

<div class="customer-email" *ngIf="showButton ==401">
    <figure class="text-center terms-logo">
        <img src="assets/images/Logo.png" alt="">
    </figure>
    <div class="member-email" *ngIf="!showButton">
        <h1 class="text-center mails-logo"> Not Authorised </h1>
        <!-- <p class="text-center">Now the pharmacy available to Delivmeds Customers to place prescription orders </p> -->
    </div>
</div>