<p-growl [(value)]="msgs" class="growl-msgs" life="7000"></p-growl>
<div class="login text-center">
    <figure class="logo">
        <img src="assets/images/Logo.png" alt="">
    </figure>
    <form action="" [formGroup]="signInForm" (ngSubmit)=" signIn(signInForm)">
        <div class="sign-pass">
            <span class="ui-float-label form-control">
                <input id="password" name="oldpassword" (focus)="visible = !visible" (blur)="visible = !visible"  minlength="8" maxlength="20" type="password" class="" size="30" pInputText formControlName="oldpassword" required>
                <!-- <span class="error" *ngIf=" !signInForm.get('oldpassword').valid && signInForm.get('oldpassword').touched && signInForm.hasError('required', 'oldpassword')" style="color:red"> 
                    Old Password is required</span> -->
            <!-- <span class="error" *ngIf="!signInForm.get('oldpassword').valid && signInForm.get('oldpassword').touched && signInForm.hasError('pattern', 'oldpassword')" style="color:red">Old Password is invalid</span> -->

            <span class="error" *ngIf=" !signInForm.get('oldpassword').valid && signInForm.get('oldpassword').touched " style="color:red"> 
                    <span *ngIf="signInForm.hasError('required', 'oldpassword')">Current Password is required</span>
            <!-- <span *ngIf="signInForm.hasError('pattern', 'oldpassword')" style="color:red">Old Password is invalid</span> -->
            </span>

            <label for="float-input" class="">Current Password</label>
            <!-- pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,}" -->
            </span>
            <span class="ui-float-label form-control">
     
      <input id="password1" name="newpassword" (focus)="visible = !visible" (blur)="visible = !visible" pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,25})" minlength="8" maxlength="20" type="password" class="" size="30" pInputText formControlName="newpassword" required>
      <span class="error" *ngIf=" !signInForm.get('newpassword').valid && signInForm.get('newpassword').touched " style="color:red"> 
            <span *ngIf="signInForm.hasError('required', 'newpassword')">New Password is required</span>
            <span *ngIf="signInForm.hasError('pattern', 'newpassword')" style="color:red">New Password is invalid</span>
            </span>
            <label for="float-input" class="">New Password</label>
            <!-- pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,}" -->
            </span>
            <span class="ui-float-label form-control">
  <input id="password2" name="confirmpassword" (focus)="visible = !visible" (blur)="visible = !visible" pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,25})" minlength="8" maxlength="20" type="password" class="" size="30" pInputText formControlName="confirmpassword" required>
 
  <span class="error" *ngIf=" !signInForm.get('confirmpassword').valid && signInForm.get('confirmpassword').touched " style="color:red"> 
        <span *ngIf="signInForm.hasError('required', 'confirmpassword')">Confirm Password is required</span>
            <span *ngIf="signInForm.hasError('pattern', 'confirmpassword')" style="color:red">Confirm Password is invalid</span>
            </span>

            <span class="error" *ngIf=" !signInForm.get('confirmpassword').valid && signInForm.get('confirmpassword').touched" style="color:red"> 
        <span *ngIf="!signInForm.hasError('pattern', 'newpassword') && !signInForm.hasError('pattern', 'confirmpassword') && signInForm.hasError('MatchPassword', 'confirmpassword')">Passwords are not matching</span>

            </span>
            <label for="float-input" class="">Confirm Password</label>
            </span>
        </div>
        <p class="pass-error text-left" *ngIf="visible">
            <span>Password must contain one lowercase, one uppercase, one number and should be 8 characters</span>
        </p>
        <div class="form-group">
            <p class="login-btn">
                <!-- routerLink="/orders"  -->
                <button pButton type="submit" class="btn-full form-type btn-green" label="Update"></button>
            </p>
        </div>
    </form>
    <p class="sign-up-account">Go Back to<a routerLink="/my-account">My Account</a></p>
</div>

<!-- <div class="ui-float-label form-control">
    <input id="password" name="password" (focus)="visible = !visible" (blur)="visible = !visible" pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,20})" minlength="8" maxlength="20" type="password" class="" size="30" pInputText formControlName="password" required="required">
    <span class="error" *ngIf=" !signInForm.get('password').valid && signInForm.get('password').touched && signInForm.hasError('required', 'password')" style="color:red"> 
                                Password is required</span>
    <span class="error" *ngIf="!signInForm.get('password').valid && signInForm.get('password').touched && signInForm.hasError('pattern', 'password')" style="color:red">Password is invalid</span>
    <label for="float-input" class="">Password*</label>
</div> -->