<p-growl [(value)]="msgs" life="3000" class="growl-msgs"></p-growl>
<div class="order-view">
    <div class="" *ngIf="orderDetails">
        <div class="panel-heading">
            <div class="noprint">
                <h3 class="pull-left panel-head all-orders">Order- Overview</h3>
                <div class="bread-crumb pull-right">
                    <p-breadcrumb [model]="items"></p-breadcrumb>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="view-left">
            <div class="noprint">
                <div class="price-details">

                    <div *ngIf="imageSrc.length>0">
                        <ngx-image-viewer class="order-viewer" [src]="imageSrc"></ngx-image-viewer>
                    </div>
                    <div *ngIf="imageSrc.length ==0">
                        <ngx-image-viewer class="order-viewer" [src]="imageDefault"></ngx-image-viewer>
                    </div>
                    <div class="price-value" *ngIf="orderDetails.status ==1">
                        <p>Cost Details</p>
                        <span>Cost (Medication): ${{sum | number}} </span>
                    </div>
                    <div class="price-value" *ngIf="orderDetails.status ==2 ||orderDetails.status ==3 ||orderDetails.status ==4 ||orderDetails.status ==5 || orderDetails.status ==6 || orderDetails.status ==7">
                        <p>Cost Details</p>
                        <span>Cost (Medication):$ {{ orderDetails.grandTotal}}</span>
                    </div>
                    <div class="payable text-center" *ngIf="orderDetails.status ==1">
                        <p>Payable Amount</p>
                        <span class="payble-green">$ {{sumAfterDiscount | number}}</span>
                    </div>
                    <div class="payable text-center" *ngIf="orderDetails.status ==2 ||orderDetails.status ==3 ||orderDetails.status ==4 ||orderDetails.status ==5 || orderDetails.status ==6 || orderDetails.status ==7">
                        <p>Payable Amount</p>
                        <span class="payble-green">$ {{ orderDetails.priceTotal}}</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="prescription" *ngIf="orderDetails.status ==2 ||orderDetails.status ==3 ||orderDetails.status ==4 ||orderDetails.status ==5 || orderDetails.status ==6 || orderDetails.status ==7">
                    <p class="pull-left prescription-left">Prescription id: {{orderDetails.prescriptionNo !== null? orderDetails.prescriptionNo : 'N/A' }} ({{orderDetails.refill == false? 'New Rx': 'Refill Rx'}})</p>
                    <span class="pull-left prescription-right">
                    <button [disabled]="true" pButton type="button" (click)=" addNewRow(i)" label="Add" icon="fa fa-plus" class="ui-button-secondary btn-secondary-green btn-disabled"></button>
                    </span>
                    <div class="clearfix"></div>
                </div>

                <div class="prescription" *ngIf="orderDetails.status ==1">
                    <p class="pull-left prescription-left">Prescription id: {{orderDetails.prescriptionNo !== null? orderDetails.prescriptionNo : 'N/A' }} ({{orderDetails.refill == false? 'New Rx': 'Refill Rx'}})</p>
                    <span class="pull-left prescription-right">
                    <button pButton type="button" (click)=" addNewRow(i)" label="Add" icon="fa fa-plus" class="ui-button-secondary btn-secondary-green"></button>
                    </span>
                    <div class="clearfix"></div>
                </div>


                <div *ngIf="orderDetails">
                    <div class="medication-list">
                        <form [formGroup]="invoiceForm">
                            <div formArrayName="itemRows">
                                <div class="form-group" [ngClass]=" { 'reject-order' : itemrow.get('status').value==3}" *ngFor="let itemrow of invoiceForm.controls.itemRows.controls; let i=index" [formGroupName]="i">
                                    <div class="form-name">
                                        <h3 class="first">Medication Name</h3>
                                        <span class="hideform"><input formControlName="medicalName" maxlength="50" type="text" class="form-control" pInputText></span>
                                        <!-- <span *ngIf=" !invoiceForm.get('medicalName').valid && invoiceForm.get('medicalName').touched && invoiceForm.hasError('required', 'medicalName')" style="color:red"> 
 <!-- Medical Name is required</span> -->
                                    </div>
                                    <div class="form-qty">
                                        <h3 class="first">Quantity</h3>
                                        <span class="hideform"><input formControlName="quantity" maxlength="5" type="text" (keypress)="onlyValues1($event)"  class="form-control" (input)="previewOfUpdateClicked()" size="30" pInputText></span>
                                        <!-- <span *ngIf=" invoiceForm.get('quantity').touched && invoiceForm.hasError('required', 'quantity')" style="color:red"> Quantity is required</span> -->
                                    </div>

                                    <div class="form-cost">
                                        <h3 class="first">Cost</h3>
                                        <span class="dolor-icon hideform">
                                            <input formControlName="cost" type="text" appSingleDot="true" DecimalPlaces="2" maxlength="20"  min = "0.00" max = "999999.99999999999"  (keypress) = "onlyValues($event)"   class="form-control"  (input)="previewOfUpdateClicked()" size="30"  pInputText>
                                        <!-- <span *ngIf="!invoiceForm.get('cost').valid && invoiceForm.get('cost').touched && invoiceForm.hasError('required')" style="color:red">  Cost is required</span> -->
                                        <i class="fa fa-usd" aria-hidden="true"></i>
                                        </span>
                                    </div>
                                    <div class="form-dos" *ngIf="!orderDetails.customerResponse.hasOwnProperty('customerInsurances') && !(orderDetails.customerResponse.customerMembers && orderDetails.customerResponse.customerMembers[0].hasOwnProperty('insurances'))">

                                        <span>
                                            <h3 class="first">Copay</h3>
                                            <span ><input formControlName="copay" [attr.disabled]="true"  placeholder="00.00"  type="text" min=0 (keypress)="onlyValues($event)" class="form-control" (input)="previewOfUpdateClicked()" size="30" pInputText></span>
                                        <!-- <p-dropdown class="drop-down" formControlName="copay" [options]="brands" [style]="{'width':'60%'}" (onChange)="previewOfUpdateClicked()" optionLabel="name"></p-dropdown> -->
                                        <!-- </div> -->
                                        </span>
                                    </div>

                                    <div class="form-dos" *ngIf="!(!orderDetails.customerResponse.hasOwnProperty('customerInsurances') && !(orderDetails.customerResponse.customerMembers && orderDetails.customerResponse.customerMembers[0].hasOwnProperty('insurances')))">
                                        <!-- <div *ngIf="orderDetails.customerResponse.customerInsurances && orderDetails.customerResponse.customerInsurances.length == 0 > -->

                                        <span>
                                            <h3 class="first">Copay</h3>
                                            <span class="hideform"><input formControlName="copay"  placeholder="00.00" type="text" appDirective="true" DecimalPlaces="2" min = "1.00" max = "99.999" maxlength="5" class="form-control" (input)="previewOfUpdateClicked()" size="30" pInputText></span>
                                        <!-- <p-dropdown class="drop-down" formControlName="copay" [options]="brands" [style]="{'width':'60%'}" (onChange)="previewOfUpdateClicked()" optionLabel="name"></p-dropdown> -->
                                        <!-- </div> -->
                                        </span>
                                    </div>

                                    <!-- <div> -->
                                    <div *ngIf="orderDetails.status ==2 ||orderDetails.status ==3 ||orderDetails.status ==4 ||orderDetails.status ==5 || orderDetails.status ==6 || orderDetails.status ==7">
                                        <!-- <button *ngIf="invoiceForm.controls.itemRows.controls.length > 1" (click)="deleteRow(i)" class="btn btn-danger"> x</button> -->
                                        <button [disabled]="true" (click)="temp(i, itemrow)" class="order-cancel  btn-disabled"><i class="fa fa-times" aria-hidden="true"></i></button>
                                        <form [formGroup]="reasonForm">
                                            <p-dialog header="Reject Medication Item" class="medication-list pop-dailouge" [(visible)]="display" [modal]="true" [responsive]="true" [width]="600" [minWidth]="200" [minY]="70">
                                                <textarea class="btn-full text-area commenttext-box" rows="5" cols="30" placeholder="Enter Reason" name="reason1" formControlName="reason1" pInputTextarea required maxlength="250"></textarea>
                                                <p-footer>
                                                    <div>
                                                        <button type="button" class="btn-group-green" pButton (click)=" deleteRow() " label="Submit "></button>
                                                    </div>
                                                    <button type="button " class="ui-button-secondary btn-secondary-green " pButton (click)="display=false " label="Cancel "></button>

                                                </p-footer>
                                            </p-dialog>
                                        </form>
                                    </div>
                                    <div>
                                        <div *ngIf="orderDetails.status==1 && itemrow.get('status').value==1|| orderDetails.status==1 && itemrow.get('status').value==2 ">
                                            <!-- <button *ngIf="invoiceForm.controls.itemRows.controls.length> 1" (click)="deleteRow(i)" class="btn btn-danger"> x</button> -->
                                            <button (click)="temp(i, itemrow)" *ngIf="invoiceForm.controls.itemRows.controls.length > 1" class="order-cancel"><i class="fa fa-times" aria-hidden="true"></i></button>
                                            <form [formGroup]="reasonForm">
                                                <p-dialog header="Reject Medication Item" class="medication-list pop-dailouge" [(visible)]="display" [modal]="true" [responsive]="true" [width]="600" [minWidth]="200" [minY]="70">
                                                    <textarea class="btn-full text-area commenttext-box" rows="5" cols="30" placeholder="Enter Reason" name="reason1" formControlName="reason1" [(ngModel)]="weekdata" pInputTextarea required maxlength="250"></textarea>
                                                    <!-- <span *ngIf=" reasonForm.get('reason1').touched  signInForm.hasError('required', 'reason1')" style="color:red">Valid email is required</span> -->
                                                    <p-footer>
                                                        <button type="button" class="btn-group-green" pButton (click)="deleteRow(i)" label="Submit"></button>
                                                        <button type="button" class="ui-button-secondary btn-secondary-green" pButton (click)="display=false" label="Cancel"></button>

                                                    </p-footer>
                                                </p-dialog>
                                            </form>
                                        </div>
                                        <div *ngIf="orderDetails.status==1 && itemrow.get('status').value==3">

                                            <button [disabled]="true" class="medication-list mg-tp btn-group-green order-cancel  btn-disabled" (click)="temp(i, itemrow)"><i class="fa fa-times" aria-hidden="true"></i></button>
                                            <form [formGroup]="reasonForm">
                                                <p-dialog header="Reject Medication Item" class="medication-list pop-dailouge" [(visible)]="display" [modal]="true" [responsive]="true" [width]="600" [minWidth]="200" [minY]="70">
                                                    <textarea class="btn-full text-area commenttext-box" rows="5" cols="30" placeholder="Enter Reason" name="reason1" formControlName="reason1" [(ngModel)]="weekdata" pInputTextarea required maxlength="250"></textarea>
                                                    <p-footer>
                                                        <button type="button" class="btn-group-green" pButton (click)="deleteRow(i)" label="Submit"></button>
                                                        <button type="button" class="ui-button-secondary btn-secondary-green" pButton (click)="display=false" label="Cancel"></button>

                                                    </p-footer>
                                                </p-dialog>
                                            </form>
                                        </div>


                                    </div>
                                    <!-- <div class="form-comments ">
                                        <p class="form-comments">
                                            <input class="brdr-none" formControlName="comments" pInputText readonly></p>
                                        <span *ngIf=" invoiceForm.get('quantity').touched && invoiceForm.hasError('required', 'quantity')" style="color:red"> Quantity is required</span>
                                    </div>  -->
                                    <div class="clearfix"></div>
                                    <p class="note-comments" *ngIf="itemrow.get('comments').value">
                                        {{'Note:' + ' ' +itemrow.get('comments').value}}
                                    </p>


                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <!-- <button pButton type="button" (click)= "showDialog()" label="Reject Order" class="ui-button-secondary btn-secondary-green pull-right"></button> -->
                        </form>
                    </div>
                </div>
            </div>
            <div *ngIf="orderDetails.status ==2 ||orderDetails.status ==3 ||orderDetails.status ==4 ||orderDetails.status ==5 || orderDetails.status ==6 || orderDetails.status ==7">
                <button [disabled]="true" class="medication-list mg-tp btn-group-green btn-disabled" pButton type="button" (click)="updateButtonClicked()" label="submit"></button>
            </div>
            <div *ngIf=" orderDetails.status ==1">
                <button class="medication-list mg-tp btn-group-green" pButton type="button" (click)="updateButtonClicked()" label="Submit"></button>
            </div>
        </div>
        <div class="view-right">
            <div class="noprint">
                <div class="orders">
                    <h3 class="panel-head pull-left"><label>Order Id : </label>{{orderDetails.id}} <span class="new">
                    <label *ngIf = "orderDetails.status ==1"> New</label> 
                    <!-- <button pButton type="button" [disabled]="!invoiceForm.valid" label="New" class="ui-button-secondary btn-secondary-green pull-right"></button> -->
                    
                    <label *ngIf = "orderDetails.status ==2"> Awaiting Patient Order Confirmation </label> 
                    <!-- <button pButton type="button" label="Waiting for Customer response" class="ui-button-secondary btn-secondary-green pull-right"></button> -->
                    
                    <label *ngIf = "orderDetails.status ==3"> Rejected </label> 
                    <label *ngIf = "orderDetails.status ==4"> Rejected </label> 
                    <!-- <button pButton type="button" label="Rejected" class="ui-button-secondary btn-secondary-green pull-right"></button> -->
                    
                    <label *ngIf = "orderDetails.status ==5">  Filling Pending </label> 
                    <!-- <button pButton type="button" label="Accepted" class="ui-button-secondary btn-secondary-green pull-right"></button> -->
                    <label *ngIf = "orderDetails.status ==6">Awaiting for Pickup</label> 
                    <!-- <button pButton type="button" label="Accepted" class="ui-button-secondary btn-secondary-green pull-right"></button> -->
                    <label *ngIf = "orderDetails.status ==7"> Delivered</label> 
                    <!-- <button pButton type="button" label="Accepted" class="ui-button-secondary btn-secondary-green pull-right"></button> -->
                    </span></h3>
                    <div *ngIf="orderDetails.status ==2 || orderDetails.status ==3 || orderDetails.status ==4 || orderDetails.status ==7">
                        <button [disabled]="true" pButton type="button" (click)="showDialog1()" label="Reject Order" class="ui-button-secondary btn-secondary-green pull-right btn-disabled"></button>
                    </div>
                    <div>
                        <div *ngIf="orderDetails.status == 5 &&  orderDetails.deliveryType==1 && orderDetails.paymentDone ==false">

                            <button pButton type="button" (click)="ReadyForPickup()" label="Ready For pickup" class="ui-button-secondary btn-secondary-green pull-right"></button>

                        </div>

                        <div *ngIf="orderDetails.status == 5 &&  orderDetails.deliveryType==1 && orderDetails.paymentDone ==true ">

                            <button pButton type="button" (click)="showDialog2()" label="Ready For pickup" class="ui-button-secondary btn-secondary-green pull-right"></button>
                            <p-dialog header="Confirmation" class="pop-dailouge" [(visible)]="display2" [modal]="true" [width]="350" [minWidth]="200" [minY]="70" [baseZIndex]="10000">
                                <span>Customer wish to pay with card. Had you received prescription amount? If not contact customer at {{orderDetails.customerResponse.mobile_number | slice:0:3}}-{{orderDetails.customerResponse.mobile_number | slice:3:6}}-{{orderDetails.customerResponse.mobile_number | slice:6:10}}?  </span>
                                <p-footer>
                                    <input type="hidden" [(ngModel)]="car_two" />
                                    <button type="button" class="btn-group-green" pButton (click)="ReadyForPickup()" label="Paid"></button>
                                    <button type="button" pButton class="ui-button-secondary btn-secondary-green" (click)="display2=false" label="Not Paid"></button>
                                </p-footer>
                            </p-dialog>
                        </div>
                        <div *ngIf="orderDetails.status == 5 &&  orderDetails.deliveryType==2 && orderDetails.paymentDone ==true ">
                            <button pButton type="button" (click)="showDialog2()" label="Ready For pickup" class="ui-button-secondary btn-secondary-green pull-right"></button>
                            <p-dialog header="Confirmation" class="pop-dailouge" [(visible)]="display2" [modal]="true" [width]="350" [minWidth]="200" [minY]="70" [baseZIndex]="10000">
                                <span>Customer wish to pay with card. Had you received prescription amount? If not contact customer at {{orderDetails.customerResponse.mobile_number | slice:0:3}}-{{orderDetails.customerResponse.mobile_number | slice:3:6}}-{{orderDetails.customerResponse.mobile_number | slice:6:10}}?  </span>
                                <p-footer>
                                    <input type="hidden" [(ngModel)]="car_two" />
                                    <button type="button" class="btn-group-green" pButton (click)="ReadyForPickup()" label="Paid"></button>
                                    <button type="button" class="ui-button-secondary btn-secondary-green" pButton (click)="display1=false" label="Not Paid"></button>

                                </p-footer>
                            </p-dialog>
                            <!-- <button pButton type="button" (click)="ReadyForPickup(car)" label="Ready For pickup" class="ui-button-secondary btn-secondary-green pull-right"></button> -->

                        </div>
                    </div>
                    <div>
                        <div *ngIf="orderDetails.status == 6 &&  orderDetails.deliveryType==2 ">

                            <button pButton type="button" (click)="Delivered()" label="Delivered" class="ui-button-secondary btn-secondary-green pull-right"></button>

                        </div>
                        <div *ngIf="orderDetails.status == 6 && orderDetails.deliveryType==1  && orderDetails.paymentDone ==true">
                            <!-- <button pButton type="button" (click)="showDialog(car)" label="Delivered" class="ui-button-secondary btn-secondary-green pull-right"></button> -->
                            <button pButton type="button" (click)="Delivered()" label="Delivered" class="ui-button-secondary btn-secondary-green pull-right"></button>
                            <!-- <p-dialog header="" [(visible)]="display" [modal]="true" [width]="350" [minWidth]="200" [minY]="70" [baseZIndex]="10000">
                        <span>Customer wish to pay with card. Had you received prescription amount? If not contact customer at {{car.customerResponse.phone}}? </span>

                        <p-footer>
                            <input type="hidden" [(ngModel)]="car_one" />
                            <button type="button" pButton icon="pi pi-check" (click)="Delivered(car_one)" label="Ok"></button>
                            <button type="button" pButton icon="pi pi-check" (click)="display=false" label="No"></button>
                        </p-footer>
                    </p-dialog> -->
                        </div>
                        <div *ngIf="orderDetails.status == 6 && orderDetails.deliveryType==1 && orderDetails.paymentDone ==false">
                            <button pButton type="button" (click)="showDialog3()" label="Delivered" class="ui-button-secondary btn-secondary-green pull-right"></button>
                            <p-dialog class="pop-dailouge" header="Confirmation" [(visible)]="display3" [modal]="true" [width]="350" [minWidth]="200" [minY]="70" [baseZIndex]="10000">
                                <span>Patient choose to pay at Register. Had you received prescription amount?  </span>
                                <p-footer>
                                    <input type="hidden" [(ngModel)]="car_one" />
                                    <button type="button" class="btn-group-green" pButton (click)="Delivered()" label="Paid"></button>
                                    <button type="button" class="ui-button-secondary btn-secondary-green" pButton (click)="display3=false" label="Not Paid"></button>
                                </p-footer>
                            </p-dialog>
                        </div>
                    </div>
                    <div *ngIf=" orderDetails.status ==1">
                        <button pButton type="button" (click)="showDialog1()" label="Reject Order" class="ui-button-secondary btn-secondary-green pull-right"></button>
                        <form [formGroup]="reasonForm1">
                            <p-dialog header="Reject Order" class="medication-list pop-dailouge" [(visible)]="display1" [modal]="true" [responsive]="true" [width]="600" [minWidth]="200" [minY]="70">
                                <textarea class="btn-full text-area commenttext-box" placeholder="Enter Reason" name="reason2" [(ngModel)]="orderRejectedCompletey" formGroupName="reason2" formControlName="reason2" pInputTextarea maxlength="250" required></textarea>
                                <p-footer>
                                    <button type="submit" class="btn-group-green" pButton (click)="addReason1()" label="Submit"></button>
                                    <button type="button" class="ui-button-secondary btn-secondary-green" pButton (click)="display1=false" label="Cancel"></button>
                                </p-footer>
                            </p-dialog>
                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="noprint">
                <div class="patient-details" *ngIf="orderDetails.customerResponse.customerMembers && orderDetails.customerResponse.customerMembers.length > 0">
                    <p>Patient Name: {{orderDetails.customerResponse.customerMembers[0].firstName}} {{orderDetails.customerResponse.customerMembers[0].lastName}} </p>
                    <p>DOB: {{orderDetails.customerResponse.customerMembers[0].birthDate}}</p>
                    <p>Contact: {{orderDetails.customerResponse.customerMembers[0].phone | slice:0:3}}-{{orderDetails.customerResponse.customerMembers[0].phone | slice:3:6}}-{{orderDetails.customerResponse.customerMembers[0].phone | slice:6:10}} </p>
                </div>
            </div>
            <div class="noprint">
                <div class="patient-details" *ngIf="orderDetails.customerResponse">
                    <p>User: {{orderDetails.customerResponse.firstName}} {{orderDetails.customerResponse.lastName}} </p>
                    <p>DOB: {{orderDetails.customerResponse.birthDate}}</p>
                    <p>Contact:{{orderDetails.customerResponse.mobile_number | slice:0:3}}-{{orderDetails.customerResponse.mobile_number | slice:3:6}}-{{orderDetails.customerResponse.mobile_number | slice:6:10}}</p>
                </div>
            </div>

            <div class="noprint">
                <div class="patient-details" *ngIf="orderDetails.customerResponse.customerDoctors">
                    <div *ngFor="let doctor of orderDetails.customerResponse.customerDoctors">
                        <p>Doctor: {{doctor.doctorName}} </p>
                        <p>Contact: {{doctor.doctorPhone | slice:0:3}}-{{doctor.doctorPhone | slice:3:6}}-{{doctor.doctorPhone | slice:6:10}}</p>
                    </div>
                </div>
                <!-- {{orderDetails.customerResponse.customerDoctors[0].doctorName}} -->
                <div class="patient-details" *ngIf="orderDetails.customerResponse.customerMembers && orderDetails.customerResponse.customerMembers.length > 0">
                    <!-- <div *ngFor="let doctor of orderDetails.customerResponses.customerMembers"> -->
                    <p *ngIf="orderDetails.customerResponse.customerMembers[0].doctorName">Doctor: {{orderDetails.customerResponse.customerMembers[0].doctorName}} </p>
                    <p *ngIf="orderDetails.customerResponse.customerMembers[0].doctorPhone">Doctor ContactNo: {{orderDetails.customerResponse.customerMembers[0].doctorPhone | slice:0:3}}-{{orderDetails.customerResponse.customerMembers[0].doctorPhone| slice:3:6}}-{{orderDetails.customerResponse.customerMembers[0].doctorPhone|
                        slice:6:10}}
                    </p>
                    <!-- </div> -->
                    <!-- <div *ngFor="let doctor of orderDetails.customerResponses.customerMembers"> -->
                    <p *ngIf="orderDetails.customerResponse.customerMembers[0].veterinaryOfficeName">Veterinary Doctor: {{orderDetails.customerResponse.customerMembers[0].veterinaryOfficeName}} </p>
                    <p *ngIf="orderDetails.customerResponse.customerMembers[0].veterinaryPhone">Veterinary Doctor ContactNo: {{orderDetails.customerResponse.customerMembers[0].veterinaryPhone | slice:0:3}}-{{orderDetails.customerResponse.customerMembers[0].veterinaryPhone| slice:3:6}}-{{orderDetails.customerResponse.customerMembers[0].veterinaryPhone
                        | slice:6:10}}</p>

                    <!-- </div> -->
                </div>
            </div>

            <div class="noprint">
                <div class="insurance-details ui-g ui-row" *ngIf="orderDetails.customerResponse.customerInsurances && orderDetails.customerResponse.customerInsurances.length > 0">
                    <div class="ui-g-7 ui-md-7">
                        <!-- class="ui-g-7" -->
                        <h4>Insurance Details</h4>
                        <ul>
                            <li>Insurance Provider: {{orderDetails.customerResponse.customerInsurances[0].insuranceProviderName}}</li>
                            <!-- <li>{{insurance.insuranceProviderName}}</li> -->

                            <li>Patient ID: {{ orderDetails.customerResponse.customerInsurances[0].patientNo}}</li>
                            <li>PCN Number: {{orderDetails.customerResponse.customerInsurances[0].pcnNo}}</li>
                            <li>Provider Contact: {{orderDetails.customerResponse.customerInsurances[0].contactNo| slice:0:3}}-{{orderDetails.customerResponse.customerInsurances[0].contactNo| slice:3:6}}-{{orderDetails.customerResponse.customerInsurances[0].contactNo|
                                slice:6:10}} </li>
                            <li>Bin No: {{orderDetails.customerResponse.customerInsurances[0].binNo}}</li>
                        </ul>
                    </div>

                    <div class="ui-g-5 ui-md-5">
                        <!-- <img src="assets/images/default.png" alt=""> -->
                        <p-lightbox class="light-box " [images]="images"></p-lightbox>
                    </div>
                </div>
                <div class="insurance-details ui-g" *ngIf="orderDetails.customerResponse.customerMembers && orderDetails.customerResponse.customerMembers[0].hasOwnProperty('insurances')">
                    <div class="ui-g-7 ui-md-7">

                        <h4>Insurance Details</h4>
                        <ul>
                            <li> Insurance Provider: {{orderDetails.customerResponse.customerMembers[0].insurances[0].insuranceProviderName}}</li>

                            <li>Patient ID: {{ orderDetails.customerResponse.customerMembers[0].insurances[0].patientNo}}</li>
                            <li>PCN Number: {{orderDetails.customerResponse.customerMembers[0].insurances[0].pcnNo}}</li>
                            <li>Provider Contact: {{orderDetails.customerResponse.customerMembers[0].insurances[0].contactNo| slice: 0:3}}-{{orderDetails.customerResponse.customerMembers[0].insurances[0].contactNo| slice: 3:6}}-{{orderDetails.customerResponse.customerMembers[0].insurances[0].contactNo|
                                slice: 6:10}}</li>
                            <li>Bin No: {{orderDetails.customerResponse.customerMembers[0].insurances[0].binNo}}</li>
                        </ul>
                    </div>
                    <div class="ui-g-5 ui-md-5">

                        <p-lightbox class="light-box" [images]="images"></p-lightbox>
                    </div>
                </div>
                <!-- <div *ngIf="orderDetails.customerResponse.customerInsurances && orderDetails.customerResponse.customerInsurances.length ==undefined || orderDetails.customerResponse.customerMembers && orderDetails.customerResponse.customerMembers.length == undefined">
                    <div class="ui-g-7 ui-md-7">
                        
                        <ul>
                            <h4>Insurance Details</h4>
                            No insurance Provided
                        </ul>
                    </div>
                </div> -->
            </div>

            <div class="delevery-address">
                <div class="page">
                    <div id="print-section">
                        <h4 class="">Delivery Address <span class="pull-right"><i class="fa fa-print" (click) = "print()"></i>
                        </span></h4>
                        <div class="clearfix"></div>
                        <div *ngIf="orderDetails">
                            <div *ngIf="orderDetails.customerResponse.customerMembers;else patientData">
                                <p> {{orderDetails.customerResponse.customerMembers[0].address}} <br> {{orderDetails.customerResponse.customerMembers[0].state}} <br> {{orderDetails.customerResponse.customerMembers[0].city}}
                                    <br> {{orderDetails.customerResponse.customerMembers[0].zipCode}}
                                    <br>

                                </p>
                            </div>
                            <ng-template #patientData>
                                <p>
                                    {{orderDetails.address}} <br> {{orderDetails.street}} <br> {{orderDetails.city}}, {{orderDetails.state}} <br> {{orderDetails.zipCode}} <br>
                                </p>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>