<p-growl [(value)]="msgs" life="3000"></p-growl>
<div class="login text-center">
    <figure class="logo">
        <img src="assets/images/LOGO.svg" alt="">
    </figure>
    <form action="" [formGroup]="signInForm" (ngSubmit)=" signIn(signInForm)">
        <div class="sign-pass">
            <span class="ui-float-label form-control">
 <input id="email"  name="signinEmail"  pattern="^(\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*\s*[,]?\b)*$"  type="email" class="" size="30" formControlName="signinEmail"  pInputText required> 
                    <span class="error" *ngIf=" !signInForm.get('signinEmail').valid && signInForm.get('signinEmail').touched && signInForm.hasError('required', 'signinEmail')" style="color:red"> 
                            Email is required</span>
            <span class="error" *ngIf=" !signInForm.get('signinEmail').valid && signInForm.get('signinEmail').touched && signInForm.hasError('pattern', 'signinEmail')" style="color:red">Valid email is required</span>
            <label for="float-input" class="">Email Address</label>
            </span>
        </div>
        <div class="form-group">
            <p class="login-btn">
                <!-- routerLink="/orders"  -->
                <button pButton type="submit" class="btn-full form-type btn-green" label="Submit"></button>
            </p>
        </div>
    </form>
    <p class="sign-up-account">Click here to<a routerLink="/login">Sign In</a></p>
</div>