<p-growl [(value)]="msgs"></p-growl>
<p-table class="orders-table" #dt [columns]="cols" [value]="cars"  [rows]="10" [paginator] = "pages"  >
    <ng-template pTemplate="caption">
        <h3 class="pull-left">All Orders</h3>
        <div class="pull-right order-filter">
            <span class="search"><i class="fa fa-search"></i>
                    <input type="text" class="order-search" pInputText size="50" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:100%">
                    </span>
            <p-dropdown class="drop-down order-dropdown" [options]="brands" [style]="{'width':'100%'}" (onChange)="sample($event)" optionLabel="name"></p-dropdown>
        </div>
        <div class="clearfix"></div>
     </ng-template> 
     <ng-template pTemplate="header"  let-columns *ngIf="cars">
        <tr>
            <!-- <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                    {{col.header}}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                </th> -->
             <th>
                Order ID
            </th>
            <th>
                Prescription ID
            </th>
            <th>
                Patient Name
            </th>
            <th>
                Order Date
            </th>
            <th>
                Status
            </th>
            <th>
                &nbsp;
            </th>
            <th>
                &nbsp;
            </th>
        </tr>
    </ng-template> 
    <ng-template pTemplate="body"  let-i="index" let-car let-columns="columns" >
        <tr >
            <td   (click)="viewDetail(car.id)">
                {{car.id}}
            </td>
            <td (click)="viewDetail(car.id)">
                {{car.customerResponse.id}}
            </td>
            <td (click)="viewDetail(car.id)" >
                <div *ngIf = "car.customerResponse.customerMembers && car.customerResponse.customerMembers.length>0; else patientData">
                        {{car.customerResponse.customerMembers[0].firstName}}{{car.customerResponse.customerMembers[0].lastName}}
                </div>
                <ng-template #patientData>
                      <div>
                    {{car.customerResponse.firstName}}{{car.customerResponse.lastName}}
                    </div>
                </ng-template>
              
                </td>
                <td>
                    {{car.lastModifiedOn}}
                </td>
                <td>
                    {{car.status}}
                </td>
                <td> 
                     &nbsp; 

                </td>
                <td> 
                    &nbsp;
                </td>
        </tr>
    </ng-template>
     <ng-template pTemplate="emptymessage" *ngIf != "cars" >No Data Found
        </ng-template> 
        
</p-table>
