<p-growl [(value)]="msgs" class="growl-msgs" life="7000"></p-growl>
<p-table *ngIf="visible" class="orders-table" #dt sortField="id" sortOrder=-1 [columns]="cols" [value]="filterableCars" [rows]="10">
    <ng-template pTemplate="caption">
        <h3 class="pull-left">All Orders</h3>
        <div class="pull-right order-filter">
            <span class="search"><i class="fa fa-search"></i>
                    <input type="text" class="order-search" pInputText size="50" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:100%">
                    </span>
            <p-dropdown class="drop-down order-dropdown" [options]="brands" [style]="{'width':'100%'}" (onChange)="sample($event)" optionLabel="name"></p-dropdown>
        </div>
        <div class="clearfix"></div>
    </ng-template>
    <ng-template pTemplate="header" let-columns *ngIf="cars">
        <tr>
            <!-- <th *ngFor="let col of orderDetails.customerResponse.customerMembers[0].insurances [paginator]="pages" columns" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th> -->
            <th style="width: 130px">
                Order ID
            </th>
            <th style="width: 160px">
                Prescription ID
            </th>
            <th style="width: 200px">
                Patient Name
            </th>
            <th style="width: 200px">
                Order Date
            </th>
            <th>
                Status
            </th>
            <th style="width:250px">
                &nbsp;
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-i="index" let-car let-columns="columns">
        <tr>
            <td style="width: 130px" routerLink="/order-view/{{car.id}}">
                {{car.id}}
            </td>
            <td style="width: 160px" routerLink="/order-view/{{car.id}}">
                <!-- <label *ngIf="car.prescriptionNo == ''"> Waiting For customer Response</label> -->

                <div>
                    {{car.prescriptionNo !== null? car.prescriptionNo : 'N/A' }}
                </div>
            </td>



            <td style="width: 200px" routerLink="/order-view/{{car.id}}">

                <div *ngIf="car.customerResponse.customerMembers && car.customerResponse.customerMembers.length>0; else patientData ">
                    {{car.customerResponse.customerMembers[0].firstName}}{{car.customerResponse.customerMembers[0].lastName}}
                </div>
                <!-- <div *ngIf="car.customerResponse">
                    {{car.customerResponse.firstName}}{{car.customerResponse.lastName}}
                </div> -->
                <ng-template #patientData>
                    <div> {{car.customerResponse.firstName}} {{car.customerResponse.lastName}}
                    </div>
                </ng-template>
                <!-- <div *ngIf=" car.customerResponse.customerMembers[0].relationshipName ==='Pet'" {{car.customerResponse.customerMembers[0]}}>
                    {{car.customerResponse.customerMembers[0].firstName}}{{car.customerResponse.customerMembers[0].lastName}}({{car.customerResponse.customerMembers[0].relationshipName}})
                </div> -->

            </td>
            <td style="width: 200px" routerLink="/order-view/{{car.id}}">
                {{car.createdOn}}
            </td>
            <td>

                <!-- <button pButton type="button" label="New"  class="ui-button-secondary btn-secondary-green pull-right"></button> -->
                <label *ngIf="car.status == 1"> New <span  *ngIf ="car.refill == true" class="order-refill">Refill</span></label>


                <!-- <button pButton type="button"  label="Waiting For customer"  class="ui-button-secondary btn-secondary-green pull-right"></button> -->
                <label *ngIf="car.status == 2"> Awaiting Patient Order Confirmation </label>



                <!-- <button  pButton type="button"   label="Rejected"  class="ui-button-secondary btn-secondary-green pull-right"></button> -->
                <label *ngIf="car.status == 3"> Rejected</label>


                <!-- <button  pButton type="button"   label="Rejected by customer"  class="ui-button-secondary btn-secondary-green pull-right"></button> -->
                <label *ngIf="car.status == 4"> Rejected</label>


                <label *ngIf="car.status == 5 && car.deliveryType==1"> Filling Pending</label>
                <!-- <label *ngIf="car.status == 5 && car.deliveryType==1"> Filling Pending</label> -->
                <label *ngIf="car.status == 5 && car.deliveryType==2 "> Filling Pending</label>
                <!-- <!-- <label *ngIf="car.status == 5  && car.deliveryType==1">Waiting For payment</label> -->
                <!-- <label *ngIf="car.status == 5  && car.deliveryType==2">Paid</label> -->
                <!-- <button  pButton type="button"   label="Ready For pickup"  class="ui-button-secondary btn-secondary-green pull-right"></button> -->




                <!-- <label *ngIf="car.status == 6 && car.deliveryType==1 "> Awaiting for Pickup </label> -->
                <label *ngIf="car.status == 6 && car.deliveryType==1 "> Awaiting for Pickup </label>
                <label *ngIf="car.status == 6  && car.deliveryType==2"> Awaiting for Pickup</label>


                <label *ngIf="car.status == 7">Delivered</label>
            </td>
            <td>
                <div>
                    <div *ngIf="car.status == 5 &&  car.deliveryType==1 && car.payNow ==false">

                        <button pButton type="button" (click)="ReadyForPickup(car)" label="Ready For pickup" class="ui-button-secondary btn-secondary-green pull-right"></button>

                    </div>
                    <div *ngIf="car.status == 5 &&  car.deliveryType==1 && car.payNow ==true ">

                        <button pButton type="button" (click)="showDialog1(car)" label="Ready For pickup" class="ui-button-secondary btn-secondary-green pull-right"></button>
                        <p-dialog header="" [(visible)]="display1" [modal]="true" [width]="350" [minWidth]="200" [minY]="70" [baseZIndex]="10000">
                            <span>Customer wish to pay with card. Had you received prescription amount? If not contact customer at {{car.customerResponse.phone}}  </span>
                            <p-footer>
                                <input type="hidden" [(ngModel)]="car_two" />
                                <button type="button" pButton icon="pi pi-check" (click)="ReadyForPickup(car_two)" label="Paid"></button>
                                <button type="button" pButton icon="pi pi-check" (click)="display1=false" label="Not Paid"></button>
                            </p-footer>
                        </p-dialog>
                    </div>
                    <div *ngIf="car.status == 5 &&  car.deliveryType==2">

                        <button pButton type="button" (click)="ReadyForPickup(car)" label="Ready For pickup" class="ui-button-secondary btn-secondary-green pull-right"></button>

                    </div>
                </div>
                <div>
                    <div *ngIf="car.status == 6 &&  car.deliveryType==2 ">

                        <button pButton type="button" (click)="Delivered(car)" label="Delivered" class="ui-button-secondary btn-secondary-green pull-right"></button>

                    </div>
                    <div *ngIf="car.status == 6 && car.deliveryType==1  && car.payNow ==true">
                        <button pButton type="button" (click)="showDialog(car)" label="Delivered" class="ui-button-secondary btn-secondary-green pull-right"></button>
                        <!-- <button pButton type="button" (click)="Delivered(car)" label="Delivered" class="ui-button-secondary btn-secondary-green pull-right"></button> -->
                        <p-dialog header="" [(visible)]="display" [modal]="true" [width]="350" [minWidth]="200" [minY]="70" [baseZIndex]="10000">
                            <span>Customer wish to pay with card. Had you received prescription amount? If not contact customer at {{orderDetails.customerResponse.phone}}? </span>

                            <p-footer>
                                <input type="hidden" [(ngModel)]="car_one" />
                                <button type="button" pButton icon="pi pi-check" (click)="Delivered(car_one)" label="Ok"></button>
                                <button type="button" pButton icon="pi pi-check" (click)="display=false" label="No"></button>
                            </p-footer>
                        </p-dialog>
                    </div>
                    <div *ngIf="car.status == 6 && car.deliveryType==1  && car.payNow ==false">
                        <button pButton type="button" (click)="showDialog(car)" label="Delivered" class="ui-button-secondary btn-secondary-green pull-right"></button>
                        <p-dialog header="" [(visible)]="display" [modal]="true" [width]="350" [minWidth]="200" [minY]="70" [baseZIndex]="10000">
                            <span>Patient choose to pay at Register. Had you received prescription amount?  </span>
                            <p-footer>
                                <input type="hidden" [(ngModel)]="car_one" />
                                <button type="button" pButton icon="pi pi-check" (click)="Delivered(car_one)" label="Paid"></button>
                                <button type="button" pButton icon="pi pi-check" (click)="display=false" label="Not Paid"></button>
                            </p-footer>
                        </p-dialog>
                    </div>
                </div>

            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" *ngIf="filterableCars.length ==0">
        <tr class="empty-order">
            <td colspan="7">
                <p class="text-center"> No Orders Found </p>
            </td>
        </tr>

    </ng-template>

</p-table>