<p-growl [(value)]="msgs" life="3000" class="growl-msgs"></p-growl>
<div class="my-account">

    <h3 class="panel-head">{{userInformation.pharmacyName }} <a class="pull-right" (click)=accountEdit()><i class="fa fa-pencil icons-gray" aria-hidden="true"></i>
 </a>
        <div class="clearfix"></div>
    </h3>

    <div class="account-address border-btm">
        <label>DEA Number :</label> {{userInformation.deaNumber}}
        <!-- <form action = "" [formGroup] = "editForm" (ngSubmit) = "addUser(editForm)"></form> -->
        <p><span class="account-icons"><i class="fa fa-phone icons-gray" aria-hidden="true"></i></span>{{userInformation.phoneNo}}</p>
        <p><span class="account-icons"><i class="fa fa-envelope icons-gray" aria-hidden="true"></i></span>{{userInformation.email}}</p>
        <!-- <p><span class="account-icons"><i class="fa fa-clock-o" aria-hidden="true"></i></span>9:00 am to 10:00 pm</p> -->
        <p><span class="account-icons"><i class="fa fa-map-marker icons-gray" aria-hidden="true"></i></span>{{userInformation.address}} {{userInformation.street}}, {{userInformation.city}}, {{userInformation.state}} {{userInformation.zipcode}} </p>
        <p> <a class="change-password" routerLink="/change-password">Change Password</a> </p>
        <button pButton type="submit" (click)="addUser()" label="Add User" class="btn-group-green mg-tp"></button>
        <div class="des-chips">
            <span class="choose-chips" *ngFor="let users of addNewUser; let i = index"> {{users}}
 <a class="close-icon"><i class="fa fa-times" (click)= "deleteUser(users,i)" aria-hidden="true"></i></a>
 </span>

        </div>

        <div class="des-chips" *ngIf="userInformation.statusCode ==200">
            <span class="choose-chips" *ngFor="let users of userInformation.pharmacyUsers; let i = index"> {{users.firstName}} {{users.lastName}}
 <a class="close-icon"><i class="fa fa-times" (click)= "deleteUser1(users,i)" aria-hidden="true"></i></a>
 </span>

        </div>

    </div>
    <div class="form-group">
        <!-- <form action="" [formGroup] = "serviceForm"></form> -->
        <h3 for="first" class="first mg-tp">Services offer*</h3>
        <!-- <div class="multi-add" > -->
        <p-multiSelect [options]="servicesOffer" class="multi-dropdown" [(ngModel)]="selectedServices" defaultLabel="choose Services" [maxSelectedLabels]=0 [resetFilterOnHide]=true [displaySelectedLabel]="false"></p-multiSelect>

        <!-- <input id="serviceOffer" (click)="addServices()"class="" type="text" size="30" pInputText> -->
        <!-- <button pButton type="button" icon="fa fa-plus" label="Add" class="ui-button-secondary"></button> -->
        <!-- </div> -->
        <div class="des-chips">
            <span class="choose-chips" *ngFor="let service of selectedServices; let i = index"> {{service.name}}
 <a class="close-icon" (click)= "deleteService(i)"><i class="fa fa-times" aria-hidden="true"></i></a>
 </span>

            <div class="pharmacy-timings">
                <div class="form-group text-left primary-block">
                    <h3 class="first">Business Hours*</h3>
                    <div class="ui-g ui-row">
                        <div class="ui-g-3">
                            <p-calendar class="primary-timeings pull-left" placeholder="From Time" (keypress)="timeValues($event)" [(ngModel)]="date7" [stepHour]="1" [readonlyInput]="true" [stepMinute]="1" #newPharmacy [timeOnly]="true" hourFormat="12"></p-calendar>
                            <!-- <p-calendar [(ngModel)]="date7" [timeOnly]="true"></p-calendar> {{date7 | hh:mm}} -->
                            <!-- <input class="primary-timeings pull-left" placeholder="From Time" (keypress)="timeValues($event)" [(ngModel)]="date7" #newPharmacy hourFormat="12"> -->

                            <span class="pull-left time-to">To</span>
                            <!-- <p-calendar [(ngModel)]="date8" [timeOnly]="true"></p-calendar> {{date8}} -->

                            <p-calendar class="primary-timeings text-right pull-left" placeholder="To Time" [stepHour]="1" [stepMinute]="1" (keypress)="timeValues($event)" [(ngModel)]="date8" [readonlyInput]="true" #newPharmacy1 [timeOnly]="true" hourFormat="12"></p-calendar>
                            <div class="clearfix"></div>
                        </div>
                        <div class="ui-g-2">
                            <p-dropdown class="drop-down week-dropdown" [options]="weekdays" [(ngModel)]="week" (onChange)="onSelectType($event.value)" placeholder="Days" optionLabel="name" [showClear]="true"></p-dropdown>

                            <input type="text" name="someData" [(ngModel)]="weekdata" style="display: none;" />
                        </div>

                        <!-- (click)= {{fromdate}} addPharmacy(newPharmacy.value, newPharmacy1.value)-->

                        <div class="ui-g-2 pharmacy-update">
                            <button pButton type="button" icon="fa fa-plus" label="Update" (click)="addPharmacy(newPharmacy.value, newPharmacy1.value,week)" class="btn-group-green fill-width"></button>
                            <!-- <button pButton type="button" icon="fa fa-plus" label="Update" (click)="addPharmacy(newPharmacy, newPharmacy1, newPharmacy2)" class="ui-button-secondary fill-width"></button> -->
                        </div>

                    </div>

                    <div class="des-chips">

                        <span class="choose-chips" *ngFor=" let pharmacy of updatePharmacy; let i=index">
 {{pharmacy}} 
 <a class="close-icon"><i class="fa fa-times" (click)= "deletePharmacyTimings(i)" aria-hidden="true"></i></a>
 </span>
                    </div>

                </div>
            </div>
            <!-- Delivery Hours -->
            <div class="pharmacy-timings">
                <div class="form-group text-left primary-block">
                    <h3 class="first">Delivery Hours</h3>
                    <div class="ui-g ui-row">
                        <div class="ui-g-3">
                            <p-calendar class="primary-timeings pull-left" placeholder="From Time" (keypress)="timeValues($event)" [(ngModel)]="time" [stepHour]="1" [readonlyInput]="true" [stepMinute]="1" #newTime [timeOnly]="true" hourFormat="12"></p-calendar>


                            <span class="pull-left time-to">To</span>

                            <p-calendar class="primary-timeings text-right pull-left" placeholder="To Time" [stepHour]="1" [stepMinute]="1" (keypress)="timeValues($event)" [(ngModel)]="time1" [readonlyInput]="true" #newTime1 [timeOnly]="true" hourFormat="12"></p-calendar>
                            <div class="clearfix"></div>
                        </div>
                        <div class="ui-g-2">
                            <p-dropdown class="drop-down week-dropdown" [options]="weekdays" [(ngModel)]="week1" (onChange)="onSelectType($event.value)" placeholder="Days" optionLabel="name" [showClear]="true"></p-dropdown>

                            <input type="text" name="someData" [(ngModel)]="weekdata" style="display: none;" />
                        </div>


                        <div class="ui-g-2 pharmacy-update">
                            <button pButton type="button" icon="fa fa-plus" label="Update" (click)="addTime(newTime.value, newTime1.value, week1)" class="btn-group-green fill-width"></button>

                        </div>

                    </div>

                    <div class="des-chips">

                        <span class="choose-chips" *ngFor=" let times of updateTime; let i=index">
 {{times}} 
 <a class="close-icon"><i class="fa fa-times" (click)= "deleteDeliveryTimings(i)" aria-hidden="true"></i></a>
 </span>
                    </div>

                </div>
            </div>
            <!-- delivery Hours End -->

            <div class="about-pharmacy border-btm">
                <div class="form-group text-left primary-block">
                    <h3 class="first">About Pharmacy</h3>
                    <div class="primary-block">
                        <textarea class="btn-full text-area" rows="5" cols="30" placeholder="Enter About Pharmacy" [(ngModel)]="aboutPharmacy" [value]="userInformation.bio" pInputTextarea maxlength="250"></textarea>
                    </div>
                </div>
            </div>
            <div class="delevery-type">
                <div class="form-group text-left primary-block">
                    <h3 class="first">Delivery Type*</h3>
                    <p-checkbox class="notifi-check" [(ngModel)]="userInformation.pickup" label="Customer Pickup" binary="false" required></p-checkbox>
                    <p-checkbox class="notifi-check" [(ngModel)]="userInformation.delivery" label="Door Delivery" binary="false" [disabled]="true" required></p-checkbox>
                    <!-- <p-checkbox class="notifi-check" [(ngModel)]="userInformation.delivery" label="Door Delivery(self)" binary="false"></p-checkbox> -->
                </div>
                <!-- <form action="" [formGroup] = "serviceForm"></form> -->
                <h3 for="first" class="first">Insurance Provider</h3>
                <!-- <div class="multi-add" > -->
                <p-multiSelect [options]="insuranceProviders" class="multi-dropdown" [(ngModel)]="selectedInsuranceProviders" defaultLabel="choose Providers" [displaySelectedLabel]="false"></p-multiSelect>
                <!-- <button pButton type="button" (click)="addProviders()" icon="fa fa-plus" label="Add Provider" class="ui-button-secondary"></button> -->
                <!-- </div> -->
                <div class="des-chips">
                    <span class="choose-chips" *ngFor=" let providers of selectedInsuranceProviders; let i=index">{{providers.name}}
 <a class="close-icon" (click)= "deleteProvider(i)"><i class="fa fa-times" aria-hidden="true"></i></a>
 </span>

                </div>
            </div>
            <div *ngIf="userInformation.profileCompleted== true">
                <button pButton type="button" (click)="updateDetails()" label="Update" class="btn-group-green mg-tp"></button>
            </div>
            <div *ngIf="userInformation.profileCompleted== false">
                <button pButton type="button" (click)="submitDetails()" label="Submit" class="btn-group-green mg-tp"></button>
            </div>

        </div>
    </div>
</div>


<!-- model-->
<p-dialog header="Add User" class="medication-list pop-dailouge" [(visible)]="user" [modal]="true" [responsive]="true" [width]="350" [minWidth]="200" [minY]="70">

    <form action="" [formGroup]="signInForm">
        <div class="form-group form-field position-rel">
            <h3 class="first">First Name</h3>
            <input id="firstname" type="text" size="30" pInputText name="firstName" formControlName="firstName" required>
            <span class="error error-down" *ngIf=" !signInForm.get('firstName').valid && signInForm.get('firstName').touched " style="color:red"> 
        <span *ngIf="signInForm.hasError('required', 'firstName')"> First Name is required</span>

            </span>

        </div>
        <div class="form-group form-field position-rel">
            <h3 class="first">Last Name</h3>
            <input id="lastname" type="text" size="30" pInputText name="lastName" formControlName="lastName" required>
            <span class="error error-down" *ngIf=" !signInForm.get('lastName').valid && signInForm.get('lastName').touched " style="color:red"> 
        <span *ngIf="signInForm.hasError('required', 'lastName')"> Last Name is required</span>

            </span>
        </div>
        <div class="form-group form-field position-rel">
            <h3 class="first">Email</h3>
            <input id="email" name="signinEmail" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" type="email" name="signinEmail" class="" size="30" pInputText formControlName="signinEmail" required>
            <span class="error error-down" *ngIf=" !signInForm.get('signinEmail').valid && signInForm.get('signinEmail').touched " style="color:red"> 
                        <span *ngIf="signInForm.hasError('required', 'signinEmail')">Email is required</span>
            <span *ngIf="signInForm.hasError('pattern', 'signinEmail')" style="color:red">Valid email is required</span>
            </span>

        </div>

        <!-- <div class="form-group form-field position-rel">
                <h3 class="first">Password</h3>
                <input id="password" name="signinPassword" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,}" maxlength="8" type="password" class="" size="30" pInputText formControlName="signinPassword" required="required">
                <span class="error" *ngIf=" !signInForm.get('signinPassword').valid && signInForm.get('signinPassword').touched && signInForm.hasError('required', 'signinPassword')" style="color:red"> 
 Password is required</span>
                <p class="error" *ngIf=" signInForm.get('signinPassword').touched && signInForm.hasError('pattern', 'signinPassword')" style="color:red">Password is invalid
                    <span pTooltip="Password must contain one lowercase, one uppercase, one special character 1 number and total 8 charcters" tooltipPosition="top"> !</span>
                </p>
                <span class="error" *ngIf="signInForm.hasError('minlength')" style="color:red">Password must have 8 digits</span>
            </div> -->
        <div class="pull-right position-rel">
            <button type="submit" class="btn-group-green" pButton (click)="addButtonclicked(signInForm)" label="ADD"></button>
            <button type="button" class="ui-button-secondary btn-secondary-green" pButton (click)="addButton()" label="Cancel"></button>
        </div>
    </form>
    <div class="clearfix"></div>
</p-dialog>
<!-- model--------- -->

<p-dialog header="Edit Details" class="medication-list pop-dailouge" [(visible)]="accouEdit" [modal]="true" [responsive]="true" [width]="768">
    <!-- <div class="ui-g"> -->
    <form action="" [formGroup]="editForm">
        <div class="form-group position-rel ui-g-6">
            <h3 class="first">Business Name (Trade Name)*</h3>
            <input id="businessname" type="text" size="30" formControlName="pharmacyName" name="pharmacyName" class="" pInputText required>
            <span class="error error-down" *ngIf=" !editForm.get('pharmacyName').valid  && editForm.get('pharmacyName').touched " style="color:red"> 
                        <span *ngIf="editForm.hasError('required', 'pharmacyName')">Business Name is required</span>

            </span>
        </div>
        <div class="form-group position-rel ui-g-6">
            <h3 class="first">Phone Number*</h3>

            <input id="phonenumber" type="text" size="30" formControlName="phoneNo" name="phoneNo" minlength="14" pInputText [textMask]="{mask: mask, guide: false}" required [value]="userInformation.phoneNo">

            <span class="error error-down" *ngIf=" !editForm.get('phoneNo').valid && editForm.get('phoneNo').touched " style="color:red"> 
                        <span *ngIf="editForm.hasError('required', 'phoneNo')">Phone Number is required</span>
            <span *ngIf="editForm.hasError('minlength', 'phoneNo')" style="color:red"> Phone Number  must be 10 digits</span>
            </span>

        </div>
        <div class="form-group  position-rel ui-g-6">
            <h3 class="first">Email*</h3>
            <input [readonly]="true" id="emailid" type="text" name="email" formControlName="email" size="30" pInputText [value]="userInformation.email">
        </div>

        <div class="form-group  position-rel ui-g-6">
            <h3 class="first">Address Line 1 *</h3>
            <input id="address1" type="text" size="30" formControlName="address" required pInputText name="address" maxlength="100" [value]="userInformation.address">
            <!-- <span class="error error-down" *ngIf="editForm.get('address').touched && editForm.hasError('required', 'address')" style="color:red"> Street Address is Required</span> -->
            <span class="error error-down" *ngIf="  editForm.get('address').touched " style="color:red"> 
                        <span *ngIf="editForm.hasError('required', 'address')">Address Line 1 is required</span>

            </span>
        </div>
        <div class="form-group form-field position-rel  ui-g-6">
            <!-- type="text" [(ngModel)]="editdetails.street" name="street" -->
            <!-- #street = "ngModel" pInputText value = {{userInformation.street}} -->
            <h3 class="first">Address Line 2 (Optional)</h3>
            <input id="address2" type="text" size="30" pInputText formControlName="street" name="street" maxlength="15" [value]="userInformation.street">
            <!-- <span class="error" *ngIf="editForm.get('street').touched && editForm.hasError('required', 'street')" style="color:red"> Street is Required</span> -->
        </div>
        <!-- <span class="error" *ngIf=" !signInForm.get('zipcode').valid && signInForm.get('zipcode').touched && signInForm.hasError('required', 'zipcode')" style="color:red">zipcode is required</span>                -->
        <!-- <span class="error" *ngIf=" !signInForm.get('zipcode').valid && signInForm.get('zipcode').touched && signInForm.hasError('minLength', 'zipcode')" style="color:red">Please enter a valid 5 digit zip code</span> -->
        <!-- <label for="float-input" class="">Zipcode</label> -->
        <div class="form-group  position-rel ui-g-6">
            <h3 class="first">Zip code*</h3>
            <p-autoComplete class="auto-complete" id="zipcode" type="tel" formControlName="zipcode" [(ngModel)]="country" (keypress)="onlyValues1($event)" [suggestions]="filteredCountriesSingle" (completeMethod)="zipcodeServiceTab(country)" (onSelect)="zipcodeService($event)"
                (onBlur)="zipcodeServiceTab(country)" placeholder="Zipcode" field="name" [size]="30" [minLength]="3" maxlength="5" required></p-autoComplete>

            <!-- <span class="error error-down" *ngIf=" !editForm.get('zipcode').valid && editForm.get('zipcode').touched && editForm.hasError('required', 'zipcode')" style="color:red">zip code is required</span> -->

            <span class="error error-down" *ngIf="  editForm.get('zipcode').touched " style="color:red"> 
                        <span *ngIf="editForm.hasError('required', 'zipcode')">Zipcode is Required</span>

            </span>

            <!-- <span class="error error-down" *ngIf="  editForm.get('zipcode').touched && editForm.hasError('minLength', 'zipcode')" style="color:red">Please enter a valid 5 digit zip code</span> -->
        </div>
        <div class="form-group form-field ui-g-6">
            <h3 class="first">City*</h3>
            <input id="city" [readonly]="true" type="text" formControlName="city" name="city" size="30" pInputText [value]="userInformation.city">
            <span class="error error-down" *ngIf="  editForm.get('city').touched " style="color:red"> 
                        <span *ngIf="editForm.hasError('required', 'city')">City is Required</span>

            </span>
        </div>
        <div class="form-group form-field ui-g-6">
            <h3 class="first">State*</h3>
            <input id="state" [readonly]="true" type="text" formControlName="state" name="state" size="30" pInputText [value]="userInformation.state">
            <span class="error error-down" *ngIf="  editForm.get('state').touched " style="color:red"> 
                        <span *ngIf="editForm.hasError('required', 'state')">State is Required</span>

            </span>
        </div>
    </form>
    <!-- </div> -->
    <div class="pull-right">
        <button type="button" class="btn-group-green" pButton (click)="editUserDetails(editForm)" label="Update"></button>
        <button type="button" class="ui-button-secondary btn-secondary-green" pButton (click)="cancelUserDetails()" label="Cancel"></button>

    </div>
    <div class="clearfix"></div>
</p-dialog>


<p-confirmDialog header="Confirmation" class="pop-dailouge" #cd>
    <p-footer>
        <button type="button" class="btn-group-green" pButton (click)="cd.accept()" label="Yes"></button>
        <button type="button" class="ui-button-secondary btn-secondary-green" pButton (click)="cd.reject()" label="No"></button>
    </p-footer>
</p-confirmDialog>