<div class="my-account">
    <h3 class="panel-head">ABCD Pharmacy LTD <a class="pull-right" (click)=accountEdit()><i class="fa fa-pencil" aria-hidden="true"></i>
    </a>
        <div class="clearfix"></div>
    </h3>
    <div class="account-address border-btm">
        <p><span class="account-icons"><i class="fa fa-phone" aria-hidden="true"></i></span>+919983487443</p>
        <p><span class="account-icons"><i class="fa fa-envelope" aria-hidden="true"></i></span>abcd@mailinator.com</p>
        <!-- <p><span class="account-icons"><i class="fa fa-clock-o" aria-hidden="true"></i></span>9:00 am to 10:00 pm</p> -->
        <p><span class="account-icons"><i class="fa fa-map-marker" aria-hidden="true"></i></span>Polt No: 365, RL Street, Visakhapatnam, Andhrapradesh</p>
        <button pButton type="button" (click)="addUser()" label="Add User" class="btn-group-green mg-tp"></button>
        <div class="des-chips">
            <span class="choose-chips">
                Balaji Guttula  <a class="close-icon"><i class="fa fa-times" aria-hidden="true"></i></a>
              </span>
            <span class="choose-chips">
                Balaji Guttula <a class="close-icon"><i class="fa fa-times" aria-hidden="true"></i></a>
                </span>
        </div>
    </div>
    <!-- <div class="preferences">
        <div class="form-group">
            <h3 for="first" class="first">Services offer</h3>
            <div class="multi-add">
                <input id="input" class="" type="text"  #adduser>
                <button pButton type="button" (click)="count(adduser.value)" icon="fa fa-plus" label="Add User" class="ui-button-secondary"></button>
                
            </div>
            <div class="des-chips">
                <span class="choose-chips">
                   {{adduser.name}} <a class="close-icon"><i class="fa fa-times" aria-hidden="true"></i></a>
                  </span>
                <span class="choose-chips">
                      AIDs Medication <a class="close-icon"><i class="fa fa-times" aria-hidden="true"></i></a>
                    </span>
            </div>
        </div>
    </div> -->
    <div class="pharmacy-timings">
        <div class="form-group text-left primary-block">
            <h3 class="first">Pharmacy Timings</h3>
            <div class="ui-g">
                <div class="ui-g-3">
                    <p-calendar class="primary-timeings pull-left" placeholder="From Time" [timeOnly]="true" hourFormat="12"></p-calendar> <span class="pull-left time-to">To</span>
                    <p-calendar class="primary-timeings text-right pull-left" placeholder="To Time" [timeOnly]="true" hourFormat="12"></p-calendar>
                    <div class="clearfix"></div>
                </div>
                <div class="ui-g-2">
                    <p-dropdown class="drop-down week-dropdown" [options]="weekdays" placeholder="Weekdays" optionLabel="name" [showClear]="true"></p-dropdown>
                </div>
                <div class="ui-g-1">
                    <button pButton type="button" (click)="count()" icon="fa fa-plus" label="Update" class="ui-button-secondary fill-width"></button>
                </div>
            </div>
            <div class="des-chips">
                <span class="choose-chips">
                    Mon-Fri 9:00 Am to 9:00 Pm <a class="close-icon"><i class="fa fa-times" aria-hidden="true"></i></a>
                  </span>
                <span class="choose-chips">
                      Mon-Fri 9:00 Am to 9:00 Pm <a class="close-icon"><i class="fa fa-times" aria-hidden="true"></i></a>
                    </span>
            </div>
        </div>
    </div>
    <div class="about-pharmacy border-btm">
        <div class="form-group text-left primary-block">
            <h3 class="first">About Pharmacy</h3>
            <div class="primary-block">
                <textarea class="btn-full text-area" rows="5" cols="30" placeholder="Enter About Pharmacy" pInputTextarea></textarea>
            </div>
        </div>
    </div>
    <div class="delevery-type">
        <div class="form-group text-left primary-block">
            <h3 class="first">delevery-type</h3>
            <p-checkbox class="notifi-check" name="groupname" label="Customr Pickup"></p-checkbox>
            <p-checkbox class="notifi-check" name="groupname" label="Door Delevery"></p-checkbox>
        </div>
        <div class="form-group">
            <h3 for="first" class="first">Services offer</h3>
            <div class="multi-add">
                <input #textbox [(ngModel)] ="textValue" id="serviceOffer" class="" type="text" size="30"  pInputText> 
                <button pButton type="button" (click)="count11(textbox.value)" icon="fa fa-plus" label="Update" class="ui-button-secondary"></button>
            </div>
            <div class="des-chips">
    
                <span class="choose-chips">
                    {{textbox.value}}<a class="close-icon"><i class="fa fa-times" aria-hidden="true"></i></a>
                  </span>
                <!-- <span class="choose-chips">
                      AIDs Medication <a class="close-icon"><i class="fa fa-times" aria-hidden="true"></i></a>
                    </span> -->
            </div>
        </div>
        <button pButton type="button" (click)="count()" label="Update" class="btn-group-green mg-tp"></button>
    </div>

</div>


<!-- model--------- -->
<p-dialog header="Add User" class="medication-list" [(visible)]="user" [modal]="true" [responsive]="true" [width]="350" [minWidth]="200" [minY]="70">
    <div class="form-group">
        <h3 class="first">First Name</h3>
        <input id="firstname" type="text" size="30" pInputText>
    </div>
    <div class="form-group">
        <h3 class="first">Last Name</h3>
        <input id="lastname" type="text" size="30" pInputText>
    </div>
    <div class="form-group">
        <h3 class="first">Email</h3>
        <input id="email" type="text" size="30" pInputText>
    </div>
    <div class="form-group">
        <h3 class="first">Password</h3>
        <input id="password" type="password" size="30" pPassword>
    </div>
    <div class="pull-right">
        <button type="button" class="btn-group-green" pButton (click)="display=false" label="ADD"></button>
        <button type="button" class="ui-button-secondary btn-secondary-green" pButton (click)="display=false" label="Cancel"></button>
    </div>
    <div class="clearfix"></div>
</p-dialog>


<p-dialog header="" class="medication-list" [(visible)]="accouEdit" [modal]="true" [responsive]="true" [width]="768">
    <div class="ui-g">
        <div class="form-group ui-g-6">
            <h3 class="first">Business Name(Trade Name)</h3>
            <input id="businessname" type="text" size="30" pInputText>
        </div>
        <div class="form-group ui-g-6">
            <h3 class="first">Phone Number</h3>
            <input id="phonenumber" type="text" size="30" pInputText>
        </div>
        <div class="form-group ui-g-6">
            <h3 class="first">Email</h3>
            <input id="emailid" type="text" size="30" pInputText>
        </div>
        <div class="form-group ui-g-6">
            <h3 class="first">Address 1</h3>
            <input id="address1" type="text" size="30" pInputText>
        </div>
        <div class="form-group ui-g-6">
            <h3 class="first">Address 2</h3>
            <input id="address2" type="text" size="30" pInputText>
        </div>
        <div class="form-group ui-g-6">
            <h3 class="first">Zip code</h3>
            <input id="zipcode" type="text" size="30" pInputText>
        </div>
        <div class="form-group ui-g-6">
            <h3 class="first">City</h3>
            <input id="city" type="text" size="30" pInputText>
        </div>
        <div class="form-group ui-g-6">
            <h3 class="first">State</h3>
            <input id="state" type="text" size="30" pInputText>
        </div>
    </div>
    <div class="pull-right">
        <button type="button" class="btn-group-green" pButton (click)="display=false" label="ADD"></button>
        <button type="button" class="ui-button-secondary btn-secondary-green" pButton (click)="display=false" label="Cancel"></button>
    </div>
    <div class="clearfix"></div>
</p-dialog>