<div class="notification-details">
    <div class="panel-heading border-btm">
        <h3 class="pull-left panel-head"><span class="pre-icon"><i class="fa fa-arrow-left icons-gray" aria-hidden="true" routerLink= '/notifications'></i>
        </span>Wating for Delevery</h3>
        <div class="pull-right order-filter">
            <span class="details-time">
              10 May,2018 &nbsp; 12:40pm (5 days ago)
            </span>
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- <ngx-image-viewer class="order-viewer" [src]="imageDefault"></ngx-image-viewer> -->
    <p class="pad-top-bot">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam deleniti unde, sint voluptates sunt illum minus accusantium excepturi quae! Perferendis voluptas nam esse, eveniet alias labore nulla perspiciatis eos eaque.</p>
</div>